@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* In your global CSS file */
.chat::-webkit-scrollbar ,
.des-ul::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chat::-webkit-scrollbar-thumb,
.des-ul::-webkit-scrollbar-thumb {
  background-color: #4A5568; /* Color of the scrollbar */
  border-radius: 4px; /* Rounded corners */
}

.chat::-webkit-scrollbar-thumb:hover,
.des-ul::-webkit-scrollbar-thumb:hover {
  background-color: #2D3748; /* Color when hovered */
}

.chat::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-track {
  background-color: #E2E8F0; /* Track color */
}

